$transition: 0.3s;
$background: #fff;

$theme_main: #2196F3;
$theme_black: #424242;
$theme_green: rgb(66, 146, 129);
$theme_darkblue: #10151f;
$theme_darkbluebg: #0a0f18;
$theme_text: #dcdcdc;

$header_height: 70px;