@import 'mixins';
@import 'variables';

.header{
  @include card($theme_darkblue);
  z-index: 9999;
}
.header__navigation{
  flex: 0 0 30%;
  line-height: $header_height;
  text-align: right;
  display: flex;
  align-items: flex-end;
  &--link{
    font-weight: 300;
    font-size: 14px;
    color: #8094ab;
    display: inline-block;
    margin-left: 24px;
    -webkit-transition: color $transition;
    -moz-transition: color $transition;
    -ms-transition: color $transition;
    -o-transition: color $transition;
    transition: color $transition;
    &:hover, &.active{
      color: $theme_main;
    }
  }
}
.header__search--wrapper{
  padding: 0 30px;
  flex: 1;
}
.logo{
  font-weight: 400;
  font-size: 1.2em;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  margin: 0;
  line-height: $header_height;
  b {
    font-weight: inherit;
    color: $theme_main;
  }
  &--wrapper{
    flex: 0 0 30%;
  }
}
.search-form{
  display: flex;
  height: 100%;
  width: 100%;
  position: relative;
  &::after{
    content: '\f002';
    font-family: FontAwesome;
    position: absolute;
    right: 1px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 13px;
    color: rgba(255, 255, 255, 0.3);
    padding: 0 15px;
    transition: color $transition;
  }
  &__field{
    align-self: center;
    @include formField;
    padding-right: 43px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    padding: 12px 15px;
  }
}
.login--wrapper{
  max-width: 300px;
  margin: auto;
  text-align: center;

}
.select-styled{
  border-radius: 0 0 6px 6px!important;
  color: rgba(255,255,255,0.3)!important;
}
.login-form{
  &__field{
    @include focusCard;
    @include formField;
    padding: 20px;
    border-radius: 0;
    color: #FFF;
    &.first-child{
      border-radius: 6px 6px 0 0;
    }
  }
  &__button{
    @include card(#fff);
    @include formButton;
    margin-top: 10px;
  }
  &__text{
    height: 100%;
    @include focusCard;
    @include formField;
    padding: 20px;
    line-height: 1.5em;
    border-radius: 6px;
  }
}
.form__link{
  color: grey;
  font-weight: 300;
  font-size: 13px;
  transition: color $transition;
  &:hover{
    color: $theme_black;
  }
}
.grid--news{
  display: grid;
  grid-template-areas: 'main main mainer mainer maine maine';
  grid-template-columns: repeat(6, minmax(100px, 1fr));
  grid-gap: 10px;
  margin-bottom: 15px;
  .post-new:first-child, .post-new:nth-child(2), .post-new:nth-child(3){
    .post-new__album{
      color: rgba(255,255,255,0.8);
      &~i{
        vertical-align: middle;
        font-size: 25px;
        margin-left: 15px;
        color: #fbfb74;
      }
    }
    .post-new__title{
      font-size: 30px;
    }
    .post-new__author{
      font-size: 16px;
    }
    .post-new__content{
      background: linear-gradient(to bottom, rgba(0,0,0,0.7), rgba(0,0,0,0)), rgba(0, 0, 0, 0.6);
    }
    .post-new__album{
      display: inline;
      &~i{
        display: inline;
      }
    }
    min-height: 270px;
    display: block;
    &:before{
      display: none;
    }
    &:hover{
      .post-new__content{
        background: linear-gradient(to bottom, rgba(0,0,0,0.7), rgba(0,0,0,0)), rgba(0, 0, 0, 0.2);
      }
    }
  }
  .post-new:first-child{
    grid-area: main;
    transform: scale(.9);
    &:hover{
      transform: scale(.93);
    }
  }
  .post-new:nth-child(2){
    grid-area: mainer;
    &:hover{
      transform: scale(1.03);
    }
  }
  .post-new:nth-child(3){
    grid-area: maine;
    transform: scale(.9);
    &:hover{
      transform: scale(.93);
    }
  }
}
.post-new{
  -webkit-background-size: cover;
  background-size: 100%;
  background-position: top center;
  display: flex;
  border-radius: 6px;
  height: 100%;
  position: relative;
  transition: box-shadow $transition, transform $transition;
  will-change: box-shadow, transform;
  &:hover{
    .post-new__content{
      background: linear-gradient(to bottom, rgba(0,0,0,0.9), rgba(0,0,0,0)), rgba(0, 0, 0, 0.8);
    }
    box-shadow: 0px 12px 15px rgba(0, 0, 0, 0.2);
  }
  @include card(grey);
  box-shadow: none;
  &:before{
    content: '';
    display: block;
    padding-top: 100%;
  }
  &__content{
    position: relative;
    z-index: 2;
    padding: 30px;
    background: linear-gradient(to bottom, rgba(0,0,0,0.9), rgba(0,0,0,0)), rgba(0, 0, 0, 0.6);
    height: 100%;
    border-radius: 6px;
    transition: background $transition;
    will-change: background;
    display: flex;
    flex-direction: column;
    width: 100%;
    &--inner{
      flex: 1;
    }
  }
  &__title{
    color: #fff;
    margin: 0;
    font-size: 20px;
    flex: 1;
  }
  &__author{
    color: rgba(212, 212, 212, 1);
    font-weight: 300;
    font-size: 14px;
    padding-top: 10px;
    display: inline-block;
  }
  &__album{
    display: none;
    &~i{
      display: none;
    }
  }
  &__control{
    &--play{
      @include playButton;
    }
  }
}
.post-list{
  height: 90px;
  margin-bottom: 20px;
  &__img{
    overflow: hidden;
    border-radius: 4px;
    display: flex;
    text-align: center;
    height: 100%;
    width: 140px;
    -webkit-background-size: cover;
    background-size: cover;
  }
  &__control{
    z-index: 1;
    align-self: center;
    flex: 1;
  }
  &__title{
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    color: $theme_text;
    font-weight: 300;
  }
  &__album{
    @include postListSubtext;
  }
  &__content{
    padding-left: 15px;
  }
  &__author{
    @include postListSubtext;
    padding-bottom: 5px;
  }
}
.track{
  padding-right: 50px;
  min-height: 100vh;
  flex: 0 0 35%;
  box-shadow: 15px -30px 21px -19px rgba(0,0,0, 0.8);
  &__author, &__singer, &__composer{
    @include trackInfo;
    color: rgba(230, 230, 230, 0.65);
    strong{
      font-weight: 300;
      color: #6d6d6d;
    }
  }
  &__singer{
    margin-bottom: 15px;
  }
  &__title{
    color: $theme_text;
    margin-bottom: 10px;
    margin-top: 0;
    font-size: 46px;
  }
  &__img{
    width: 100%;
    height: 350px;
    background-size: cover;
    background-position: center;
    border-radius: 4px;
  }
  &__authors{
    padding: 20px 0;
  }
  &__play{
    @include playButton;
    align-self: center;
    margin-top: -8px;
  }
  &-lyrics{
    flex: 1;
    text-align: center;
    padding: 20px 0;
    &__text{
      font-family: inherit;
      display: inline-block;
      padding: 0 20px;
      line-height: 1.7em;
      font-size: 18px;
      text-align: left;
      font-weight: 200;
      word-break: break-word;
      white-space: pre-wrap;
    }
  }
}
.new-form__img--wrapper{
  margin-bottom: 10px;
  cursor: pointer;
  display: block;
  text-align: center;
  font-size: 22px;
  padding: 20px;
  background: #233140;
  background-size: cover;
  border-radius: 6px;
  color: rgba(255,255,255,0.3);
  background-position: center;
  transition: background 0.2s, color 0.2s;
  will-change: background,color;
  display: flex;
  &.notEmpty{
    div{
      opacity: 0;
      display: flex;
      transition: opacity $transition;
      i{
        align-self: center;
        flex: 1;
      }
      &:hover{
        opacity: 1;
      }
    }
    &::before {
      content: '';
      padding-top: 100%;
    }
  }
  &:hover{
    color: rgba(255,255,255,0.5);
  }
  div{
    flex: 1;
  }
}
.new-form__file{
  width: 100%;
  text-align: center;
  padding: 15px 0;
  display: block;
  margin-bottom: 10px;
  background: #233140;
  border-radius: 6px;
  font-size: 22px;
  color: rgba(255,255,255,0.3);
  cursor: pointer;
  transition: color $transition;
  &:hover{
    color: rgba(255,255,255,0.5);
  }
  .fa-check{
    display: none;
  }
  &.active{
    background: #6dc371;
    i{
      display: none;
    }
    .fa-check{
      display: inline;
    }
  }
}
.new{
  &__info{
    flex: 0 0 30%;
    input[type=submit]{
      margin-bottom: 0;
    }
  }
  &__lyrics{
    flex: 1;
    padding-left: 20px;
  }
  &__albums--img{
    width: 50px;
    background-size: cover;
    background-position: center;
    margin: 8px 15px;
    margin-right: -10px;
    border-radius: 4px;
  }
}
.select{
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-bottom: 10px;
  position: relative;
  &-hidden{
    display: none;
  }
  &-styled{
    margin-bottom: 0;
    &::after{
      content: "\f0dd";
      font-family: FontAwesome;
      position: absolute;
      right: 15px;
      top: 50%;
      color: #bbbbbb;
      margin-top: -4px;
      font-size: 17px;
      transform: translateY(-50%);
      transition: color $transition;
    }
    &:hover::after{
      color: grey;
    }
  }
  &-options{
    display: none;
    list-style: none;
    background: #fff;
    border-radius: 2px;
    padding: 0;
    margin-top: 0;
    position: absolute;
    top: 0;
    font-weight: 200;
    font-size: 15px;
    color: $theme_black;
    left: 0;
    width: 100%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0,0,0,0.08);
    li{
      display: flex;
      line-height: 3.6em;
      padding: 0 20px;
      transition: background $transition;
      &:hover{
        background: #f3f3f3;
      }
      span{
        flex: 1;
      }
    }
    li:not(:last-child){
      border-bottom: 1px solid rgba(0,0,0,0.05);
    }
  }
}
.user-authorised{
  &--wrapper{
    height: 70px;
    margin-left: 30px;
  }
  &__img{
    height: 100%;
    border-radius: 100%;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    display: block;
    &--wrapper{
      height: 100%;
      padding: 18px;
    }
  }
  &__title{
    h3{
      margin: 0;
      line-height: 2em;
      font-size: 1.4em;
    }
  }
  &__menu{
    display: none;
    padding: 10px 0;
    background: #1f2b38;
    box-shadow: 0 6px 9px rgba(0, 0, 0, 0.3);
    max-width: 180px;
    border: 1px solid rgba(0,0,0,0.1);
    margin-top: 1px;
    text-align: center;
    border-radius: 2px;
    position: absolute;
    right: 0;
    width: 100%;
    margin-top: 10px;
    &::before{
      content: '\f0d8';
      font-family: 'FontAwesome';
      position: absolute;
      top: -16px;
      right: 29px;
      line-height: 1em;
      color: #1f2b38;
      font-size: 25px;
      text-shadow: 0 -1px 1px rgba(0,0,0,0.2);
    }
    &--item{
      line-height: 2.5em;
      display: block;
      font-size: 14px;
      font-weight: 300;
      color: #b1b1b1;
      transition: background $transition, color $transition;
      &:hover{
        color: #FFF;
        background: rgba(255,255,255, 0.02);
      }
    }
  }
}